.input {
    width: 473px;
    height: 61px;
    background: var(--unnamed-color-f8f8f8) 0% 0% no-repeat padding-box;
    background: #fff 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0 none;
    outline: 0;

    text-align: center;
    font-size: 30px;
    color: #777;

    ::placeholder {
        color: #777;
    }
}