.button {
    margin-left: 30px;
    // background: var(--cor-segundaria);
    // color: var(--cor-bg);
    padding: 12px 30px;
    font-size: 24px;
    font-weight: bold;
    border: 0 none;
    outline: 0;
}

