.container {
    max-width: 960px;
    margin: auto;
    
    p{
        color:var(--cor-primaria);
        font-size:33px;
        margin-bottom: 15px; 
        margin-top: 15px;   
        text-align:center;
       
        span{
            color:var(--cor-font);   
            font-size: 25px;
        }
    }

    
    .conteudo{
        max-width: 400px;
        margin: auto; 
        margin-top: 40px; 

        button{
            width: 100%;
        }
    }
}
